@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

.default_box {
    width: 100%;
    height: 40%;
    background-color: #00ffff;
    float: inline-start;
    position: relative;
    z-index: -4;
    /*margin-left: 10%;*/
}
/*
    .default_box > h1 {
        width: 100%;
        height: 5%;
        font-size: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1%;
        color: white;
    }

    .default_box > .manager_info {
        width: 90%;
        height: 700px;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 30px;
        font-weight: 300;
        color: white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .default_box > .income_chart {
        width: 70%;
        height: 50%;
    }
    */