@{
    ViewData["Title"] = "CalebDiary Index";
    var DinamicGraph = ViewData["DinamicGraph"] as string;
    System.Diagnostics.Debug.WriteLine(DinamicGraph);

}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<h1>@ViewData["Title"]</h1>
<body>
    <div>
        <include page="~/Views/HomeIndex.cshtml" />
        <form action="/CalebDiary/SearchKeyword">
            Keyword : <input type="text" name="_searchKeyword"/>
            <input type="submit"/>
        </form>
    </div>
    <header>
        <!--<jsp:include page="../../01.IncludePage/Header2.jsp" />-->
    </header>
    <section>
        <!--<jsp:include page="../../01.IncludePage/Accordion_ManagerMyPage.jsp" />-->
        <div class="default_box">
            <h1>디폴트 페이지</h1>
            <div class="manager_info">
                <div class="income_chart">
                    <canvas id="myChart1" aria-label="income_chart" role="img"></canvas>
                    <script>
                        const ctx = document.getElementById('myChart1').getContext('2d');
                        const myChart = new Chart(ctx, {
                            type: 'bar',
                            @DinamicGraph
                            
                            data: {
                            /*labels: [@TempData["Labels"], '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],*/
                            labels: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
                                datasets: [{
                                    label: '@TempData["Keyword"]',
                                    data: [@TempData["DataSet1"]],
                                    backgroundColor: ['rgba(121, 55, 218, 0.8)'],
                                    borderColor: ['rgba(121, 55, 218, 1)'],
                                    borderWidth: 1
                                }]
                                
                            },
                            options: {
                                mainAspectRatio: false,
                                title: {
                                    display: true,
                                    text: '차트 제목',
                                    fontsize: 30,
                                    fontColor: 'white'
                                },
                                legend: {
                                    display: true,
                                    position: 'top'
                                }


                            },
                            scales: {
                                x: {
                                    title: {
                                        display: true,
                                        text: '12개월 내 keyword 언급'
                                    }
                                },
                                y: {
                                    title: {
                                        display: true,
                                        text: '월별 keyword 언급 횟수',
                                        beginAtZero: true
                                    }
                                }
                            }
                        });


                    </script>
                </div>
            </div>
    </section>
    <footer>
        <!--<jsp:include page="../../01.IncludePage/Footer2.jsp" />-->
    </footer>
</body>